html {font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } body {margin: 0; } article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block; } audio, canvas, progress, video {display: inline-block; vertical-align: baseline; } audio:not([controls]) {display: none; height: 0; } [hidden], template {display: none; } a {background-color: transparent; } a:active, a:hover {outline: 0; } abbr[title] {border-bottom: 1px dotted; } b, strong {font-weight: bold; } dfn {font-style: italic; } h1 {margin: .67em 0; font-size: 2em; } mark {color: #000; background: #ff0; } small {font-size: 80%; } sub, sup {position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; } sup {top: -.5em; } sub {bottom: -.25em; } img {border: 0; } svg:not(:root) {overflow: hidden; } figure {margin: 1em 40px; } hr {height: 0; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; } pre {overflow: auto; } code, kbd, pre, samp {font-family: monospace, monospace; font-size: 1em; } button, input, optgroup, select, textarea {margin: 0; font: inherit; color: inherit; } button {overflow: visible; } button, select {text-transform: none; } button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer; } button[disabled], html input[disabled] {cursor: default; } button::-moz-focus-inner, input::-moz-focus-inner {padding: 0; border: 0; } input {line-height: normal; } input[type="checkbox"], input[type="radio"] {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; } input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto; } input[type="search"] {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield; } input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none; } fieldset {padding: .35em .625em .75em; margin: 0 2px; border: 1px solid #c0c0c0; } legend {padding: 0; border: 0; } textarea {overflow: auto; } optgroup {font-weight: bold; } table {border-spacing: 0; border-collapse: collapse; } td, th {padding: 0; }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  height: 100%;
  background: #DBD9D9;
}

.hide { display: none; }

/*terminal*/
.terminal {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 97%;
  z-index: 9999;
}
.retract {
  left: -288px;
}

.shell {
  margin: 0 auto;
  width: 300px;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 8px 8px;
}
.upper {
  background: linear-gradient(#f1f1f1, #d3d3d3);
  height: 30px;
  border-radius: 8px 8px;
  padding-left: 10px;
}

.btn {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.upper .red { background: #E75448; }
.upper .yellow { background: #E5C30F; }
.upper .green { background: #3BB662; }

.screen {
  color: white;
  font-size: 1em;
  background: #30353A;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}
.screen .red { color: #E75448; }
.screen .yellow { color: #E5C30F; }
.screen .green { color: #3BB662; }
.screen .gray { color: #999; font-size: 0.9em; }
.screen .org { color: rgba(85,195,100,1); }
.screen .sec { color: rgba(26,174,236,1); }

.cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

.screen input[type="text"] {
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 5px;
  font-size: inherit;
}

#output div{
  margin: 6px 0 0 18px;
}

.symbol {
  color: rgba(140, 254, 243, 0.52);
  font-size: 0.9em;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.content {
  margin: 0 auto 0 300px;
  text-align: center;
}

.box {
  margin: 40px auto;
  width: 400px;
  height: 400px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-top: 3px solid #d9d9d9;
  border-right: 3px solid #d9d9d9;
  background: #eee;
/*   transform: perspective( 2000px ) rotateX( 45deg ); */
}

.row {
  width: 100%;
  border-bottom: 3px solid #d9d9d9;
}

.box-10 { width: 600px; height: 600px; }
.box-20 { width: 800px; height: 800px; }
.box-30 { width: 1200px; height: 1200px; }

.box-10 .row { height: 10%; }
.box-20 .row { height: 5%; }
.box-30 .row { height: 3.33333332%; }

.box-10 .col { width: 10%; }
.box-20 .col { width: 5%; }
.box-30 .col { width: 3.33333332%; }

.col {
  position: relative;
  margin: 0 auto;
  text-align:center;
  height: 100%;
  background-color: #fff;
  float: left;
  border-left: 3px solid #d9d9d9;
}

.col > span {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.lixeira_organico,
.lixeira_organico_closed,
.lixeira_seco,
.lixeira_seco_closed,
.lixo_organico,
.lixo_seco,
.agente0,
.agente1,
.agente2,
.agente3,
.agente4,
.agente5 {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.lixeira_organico        { background-image: url("../img/lxra-o.png"); }
.lixeira_organico_closed { background-image: url("../img/lxra-o-closed.png"); }
.lixeira_seco            { background-image: url("../img/lxra-s.png"); }
.lixeira_seco_closed     { background-image: url("../img/lxra-s-closed.png"); }
.lixeira_seco            { background-image: url("../img/lxra-s.png"); }
.lixo_organico           { background-image: url("../img/lixo-o.png"); }
.lixo_seco               { background-image: url("../img/lixo-s.png"); }

.agente0 { background-image: url("../img/a0.jpg"); }
.agente1 { background-image: url("../img/a1.jpg"); }
.agente2 { background-image: url("../img/a2.jpg"); }
.agente3 { background-image: url("../img/a3.jpg"); }
.agente4 { background-image: url("../img/a4.jpg"); }
.agente5 { background-image: url("../img/a5.jpg"); }


/*  button Â */
.button {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: .0625rem solid transparent;
  border-radius: .25rem;
  color: #0275d8;
  background-color: transparent;
  border-color: #0275d8;
  outline: none;
}
.button:hover, .button-active {
  color: #fff;
  background-color: #0275d8;
}
.button-success {
  color: #5cb85c;
  background-color: transparent;
  border-color: #5cb85c;
}
.button-success:hover {
  color: #fff;
  background: #5cb85c;
}
.button-error {
  color: #d9534f;
  background-color: transparent;
  border-color: #d9534f;
}
.button-error:hover {
  color: #fff;
  background: #d9534f;
}

.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.button-group .button {
  position: relative;
  float: left;
}

.button-group .button:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-radius: 0;
  margin-left: -1px;
  margin-right: -1px;
}


.button-group .button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group .button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.selected {
  box-shadow: 0 0 20px 2px #FFF;
  animation: glow 1.25s 0.3s infinite linear;
  z-index: 99;
}
.selectedx {
  box-shadow: 0 0 20px 2px #5AAAFB;
}

@keyframes glow{
 15%{
    transform: scale(1.05);
    box-shadow: 0 0 20px 2px #5AAAFB;
  }
}

.info {
  position: absolute;
  z-index: 99;
  text-align: center;
  color: #fff;
  bottom: 0;
  width: 100%;
}

.info span {
  display: inline-block;
  font-size: 0.7em;
  padding: 2px 6px;
  border-radius: 10px;
  background: rgba(0,0,0,0.6);
}

.info span:not(:last-child):first-child {
  float: left;
  background: rgba(85,195,100,0.7);
}

.info span:not(:first-child):last-child {
  float: right;
  background: rgba(26,174,236,0.7);
}

